body {
    padding: 0;
    margin: 0;
    background-color: white;
}

* {
    box-sizing: border-box;
}

/** 
   ========== MAIN COLORS ==========
**/
.pink-color {
    color: #fd5656;
}

/** 
   ========== GLOBAL STYLES ==========
**/

/** 
   ========== VIEWPORT ==========
**/
.width-viewport-80 {
    width: 80vw;
}

.height-viewport-100 {
    height: 100vh;
}

/** 
   ========== CHECKBOX ==========
**/
.custome-checkbox {
    display: none;
}

.label-checkbox {
    position: relative;
}

.label-checkbox::before {
    content: "\2713";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fd5656;
    left: -44px;
    top: -8px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

.label-checkbox::after {
    content: "";
    position: absolute;
    border: 1px solid #fd5656;
    width: 30px;
    height: 30px;
    left: -44px;
    top: -8px;
}

.custome-checkbox:checked + .label-checkbox::before {
    transform: scale(1) rotateZ(0deg);
}

/** 
   ========== PADDING ==========
**/
.padding-top-10 {
    padding-top: 10%;
}

.padding-left-44 {
    padding-left: 44px;
}

.padding-60 {
    padding: 60px !important;
}

/** 
   ========== MARGIN ==========
**/
.margin-top-30 {
    margin-top: 30px;
}

/** 
   ========== BUTTONS ==========
**/
.register-btn {
    border: 1px solid #ff5454;
    border-radius: 10px;
    color: #ff5454;
    width: 200px;
    transition: background-color 0.5s linear;
    cursor: pointer;
}

.active-btn {
    background-color: #ff5454;
    color: #fff;
}

.register-btn:hover {
    background-color: #ff5454;
    color: #fff;
}

@media (max-width: 565px) {
    .register-btn {
        width: 100%;
    }
}